# Equity betas

In [1]:
import pandas as pd
import pandas_datareader as web
import numpy as np
import datetime as dt
import statsmodels.api as sm

### Calculate the 5-yr montly betas of Korean Airlines, Qantas Airways, ANA Holdings and Singapore Airlines

In [2]:
start_date = dt.datetime(2005, 1, 1)
end_date = dt.datetime(2009, 12, 31)

tickers = ['003490.KS', 'QAN.AX', '9202.T', 'C6L.SI', '^GSPC']

In [3]:
# 10 years adjusted close price of GB Group and FTSE100
df = pd.DataFrame()

for ticker in tickers:
    df[ticker] = web.DataReader(ticker, 'yahoo', start_date, end_date)['Close']

In [4]:
df = df.resample('M').mean()
df.head()

               003490.KS    QAN.AX       9202.T     C6L.SI        ^GSPC
Date
2005-01-31  17879.509570  3.843095  3717.000000  11.431579  1180.319998
2005-02-28  18850.218555  3.842518  3860.000000  12.183333  1199.626844
2005-03-31  20948.303753  3.802543  3819.130435  12.109091  1194.897727
2005-04-30  19369.023158  3.583599  3489.523810  11.523809  1164.427612
2005-05-31  17737.725675  3.429664  3356.818182  11.505000  1178.275716

In [5]:
returns = df.copy()
for x in returns.columns:
    returns[x] = np.log(df[x]).diff()

returns.rename(columns={
    '003490.KS': 'Korean Airlines', 
    'QAN.AX': 'Qantas Airways',
    '9202.T': 'ANA Holdings',
    'C6L.SI': 'Singapore Airways',
    '^GSPC': 'S&P500'
    }, inplace=True)

returns.dropna(inplace=True)
returns

,Korean Airlines,Qantas Airways,ANA Holdings,Singapore Airways,S&P500
Date,,,,,
2005-02-28,0.052869,-0.000150,0.037750,0.063689,0.016225
2005-03-31,0.105533,-0.010458,-0.010644,-0.006112,-0.003950
2005-04-30,-0.078383,-0.059302,-0.090257,-0.049541,-0.025831
2005-05-31,-0.087981,-0.043905,-0.038772,-0.001634,0.011822
2005-06-30,0.014096,0.026130,0.010641,-0.009168,0.020145
2005-07-31,0.039814,-0.009989,0.007449,0.021897,0.016485
2005-08-31,0.005757,0.006413,0.037864,-0.002548,0.001662
2005-09-30,-0.036658,0.009803,0.019652,0.010891,0.001343
2005-10-31,0.094590,0.014445,-0.029628,-0.027737,-0.028085
2005-11-30,0.180072,0.077184,0.097339,0.017041,0.037384
2005-12-31,0.173776,0.060553,0.112466,0.011121,0.020314
2006-01-31,0.115411,0.034418,0.084629,0.107485,0.012295
2006-02-28,-0.084252,0.015164,-0.037597,0.059405,-0.001360
2006-03-31,0.070421,-0.071432,-0.079698,0.038896,0.013385
2006-04-30,0.110339,-0.076092,0.010807,-0.037041,0.006408
2006-05-31,0.011107,-0.054864,-0.008699,-0.031075,-0.011351
2006-06-30,-0.046421,-0.065668,-0.004085,-0.075458,-0.027408
2006-07-31,-0.072433,-0.024717,0.041829,0.011957,0.007104
2006-08-31,-0.066381,0.067505,0.029610,0.044291,0.020113
2006-09-30,0.096879,0.116352,0.055174,0.082834,0.023435
2006-10-31,0.038595,0.119336,-0.007718,0.066266,0.036097
2006-11-30,0.032773,0.105329,-0.110439,0.014266,0.016304
2006-12-31,0.002128,0.128113,0.008804,0.065515,0.019742
2007-01-31,0.020670,0.026178,0.028377,0.061676,0.005520
2007-02-28,-0.060245,-0.013932,0.073097,-0.035843,0.014384
2007-03-31,0.079475,-0.016019,-0.002028,-0.022044,-0.025872
2007-04-30,0.116230,0.027428,0.001062,0.076074,0.038832
2007-05-31,0.186090,0.012413,-0.009643,0.025207,0.032877
2007-06-30,0.080964,0.055230,0.002827,0.007816,0.001179
2007-07-31,0.120575,-0.006136,-0.014314,0.031397,0.003248
2007-08-31,0.077037,-0.026267,-0.025905,-0.061372,-0.041992
2007-09-30,-0.042310,0.020664,0.007719,0.044943,0.024417
2007-10-31,0.156875,0.038834,-0.011386,0.037447,0.030907
2007-11-30,0.069312,-0.000261,-0.052167,-0.061985,-0.050810
2007-12-31,-0.051025,-0.034526,0.004436,-0.036067,0.012157
2008-01-31,-0.016921,-0.150072,-0.046188,-0.101857,-0.071722
2008-02-29,-0.000379,-0.067954,0.064220,-0.024483,-0.014447
2008-03-31,-0.215558,-0.142856,0.000216,-0.054393,-0.031427
2008-04-30,-0.097636,-0.068174,-0.033323,0.057102,0.040395
2008-05-31,-0.040103,-0.058051,-0.037265,0.008634,0.022634
2008-06-30,0.016413,-0.071195,-0.013084,-0.046200,-0.045464
2008-07-31,-0.173561,0.019532,-0.014864,-0.012639,-0.063891
2008-08-31,-0.014669,0.048495,0.006199,0.013101,0.018369
2008-09-30,-0.109350,-0.013146,-0.025936,-0.011798,-0.049950
2008-10-31,-0.100768,-0.227466,-0.051772,-0.194342,-0.235241
2008-11-30,-0.002132,-0.104390,-0.039004,-0.105678,-0.086550
2008-12-31,0.119504,-0.020885,-0.031335,0.007007,-0.007619
2009-01-31,-0.077532,0.036474,-0.008850,0.014365,-0.009226
2009-02-28,-0.041472,-0.309499,0.016976,-0.078456,-0.075402
2009-03-31,-0.043935,-0.107565,0.099671,-0.050516,-0.061594
2009-04-30,0.159682,0.166837,-0.036289,0.076147,0.113529
2009-05-31,0.018471,0.010809,-0.020560,0.122771,0.063453
2009-06-30,-0.102106,0.065274,-0.042433,0.047186,0.024486
2009-07-31,0.050384,-0.026248,-0.209202,0.040983,0.010426
2009-08-31,0.129573,0.219446,-0.019818,-0.008315,0.076008
2009-09-30,0.053794,0.051603,-0.027142,0.004795,0.033911
2009-10-31,0.050142,0.084051,-0.066594,0.045007,0.023776
2009-11-30,-0.008306,-0.075714,-0.075794,0.002327,0.017040
2009-12-31,0.124828,0.029917,0.078593,0.007870,0.020093

market_return = 0.0812
risk_free = 0.035

returns['MRP'] = returns['S&P500'] - risk_free
returns.dropna(inplace=True)
returns

In [6]:
X = returns['S&P500']
X1 = sm.add_constant(X)
betas = []
for i in returns.columns[:-1]:
    y = returns[i]
    model = sm.OLS(y, X1)
    results = model.fit()
    betas.append(results.params['S&P500'])

betas

[0.7721145466905943, 1.283415385319852, 0.10229002609166243, 0.934965829195409]

In [7]:
equity_betas = pd.DataFrame(betas, index=returns.columns[:-1])

equity_betas.T

   Korean Airlines  Qantas Airways  ANA Holdings  Singapore Airways
0         0.772115        1.283415       0.10229           0.934966