In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('S&P_500_3m_adjClose.csv')
df.head()

,Date,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,2020-10-23,107.03,13.10,161.86,117.75,84.47,99.48,286.25,108.01,240.50,...,117.94,34.32,51.21,20.30,92.65,106.07,146.70,312.22,34.80,170.23
1,2020-10-26,105.38,12.00,158.37,119.35,85.52,101.78,300.84,110.00,229.36,...,119.48,33.37,49.32,19.80,93.19,99.60,139.95,308.90,33.44,163.34
2,2020-10-27,110.98,11.51,151.75,119.00,82.94,98.53,300.89,110.30,223.01,...,128.72,33.84,49.23,18.68,91.91,98.57,140.20,296.06,32.23,170.05
3,2020-10-28,104.20,10.99,150.67,112.70,83.97,95.80,296.00,108.45,215.47,...,123.17,32.72,46.52,17.91,87.70,97.69,136.54,289.70,31.70,163.68
4,2020-10-29,102.36,11.64,151.00,119.98,84.47,95.35,259.38,107.00,226.95,...,126.00,33.27,47.00,18.18,89.13,97.11,135.39,304.26,32.30,165.90